.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin-bottom: 16px;
}

/* Card image */
.card-image {
    flex-basis: 50%;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card content */
.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 16px;
}

.card-content label,
.card-content-label {
    text-transform: uppercase;
    color: grey;
    font-size: 1.4rem;
}

/* Call to action button */
.card-content-cta {
    /* You can use align self to position the button all the way to the right */
    align-self: end;
    /* You can also use margins to push the item left, right or to center it */
    /* margin-left: auto; */
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 8px 16px;
}

.card-content-cta:hover {
    cursor: pointer;
}