.page {
    min-height: 100vh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: mistyrose;
}

.card:nth-child(1) {
    /* flex-grow: 1; */
}